{%  extends 'wolfrollapp/main.html' %}
{% block content %}
<div style="padding-left: 3%; top: 1.5%; position: relative; float: left;">
<h1>Role Types:</h1>
<table style="width:100%">
    {% for key, value in role_type_toggles.items %}
        {% if value %}
            <tr>
                <td>
                    <form method="POST" action="{% url 'wolfrollapp:updateRoleToggle' key %}">
                        {% csrf_token %}
                        <button style="vertical-align: center; padding: 8px; background: cadetblue; border-radius: 40px; float: right" type="submit"></button></form>
                </td>
                <td style="color:blanchedalmond">{{ key }}</td>

            </tr>

        {% else %}
            <tr>
                <td>
                    <form method="POST" action="{% url 'wolfrollapp:updateRoleToggle' key %}">
                        {% csrf_token %}
                        <button style="vertical-align: center; padding: 8px; background: darkred; border-radius: 40px; float: right" type="submit"></button></form>
                </td>
                <td style="color: gray"><strike>{{ key }}</strike></td>

            </tr>
        {% endif %}
    {% endfor %}
</table>
<h2 style="color: blanchedalmond">Werewolf Count:</h2>
<table style="margin-left: auto; margin-right: auto">
    <tr>
        <td>
            <form method="POST" action="{% url 'wolfrollapp:decreaseWolfCount' %}">
                {% csrf_token %}
                <button style="vertical-align: center; padding: 8px; background: darkred; border-radius: 40px;font-size: 15px;  float: right" type="submit">-</button>
            </form>
        </td>
        <td>
            <h1 style="font-size: 50px; padding-inline: 15px">{{ wolf_count }}</h1>
        </td>
        <td>
           <form method="POST" action="{% url 'wolfrollapp:increaseWolfCount' %}">
               {% csrf_token %}
               <button style="vertical-align: center; padding: 8px; background: cadetblue; border-radius: 40px;font-size: 15px;  float: left" type="submit">+</button>
           </form>
        </td>
    </tr>
</table>
<h2 style="color: blanchedalmond">Balance Target:</h2>
<table style="margin-left: auto; margin-right: auto">
    <tr>
        <td>
            <form method="POST" action="{% url 'wolfrollapp:decreaseBalanceGoal' %}">
                {% csrf_token %}
                <button style="vertical-align: center; padding: 8px; background: darkred; border-radius: 40px;font-size: 15px;  float: right" type="submit">-</button>
            </form>
        </td>
        <td>
            <h1 style="font-size: 50px; padding-inline: 15px">{{ balance_goal }}</h1>
        </td>
        <td>
           <form method="POST" action="{% url 'wolfrollapp:increaseBalanceGoal' %}">
               {% csrf_token %}
               <button style="vertical-align: center; padding: 8px; background: cadetblue; border-radius: 40px;font-size: 15px;  float: left" type="submit">+</button>
           </form>
        </td>
    </tr>
</table>
<form method="POST" action="{% url 'wolfrollapp:rollGame' %}">
    {% csrf_token %}
    <button style="vertical-align: center; padding: 12px 24px; background: cadetblue; border-radius: 2px; float: left; font-size: 30px; font-family: fantasy; margin-left: auto; margin-right: auto" type="submit">Roll A Game</button>
</form>
<form method="POST" action="{% url 'wolfrollapp:resetParams' %}">
    {% csrf_token %}
    <button style="vertical-align: center; padding: 10px 20px; background: slategrey; border-radius: 2px; float: left; font-size: 30px; font-family: fantasy; margin-left: auto; margin-right: auto" type="submit">Reset</button>
</form>
<button style="vertical-align: center; padding: 1px; background: cornsilk; border-radius: 2px; float: left; font-size: 30px; margin-left: auto; margin-right: auto" type="submit"><img src="https://ucarecdn.com/229ed982-2f9a-48b8-a7cb-9228a8469277/Frost_arrowSpeedroller.png" style="height: 180px"></button>

</div>

<div style="padding-inline: 5%; width: 25%; top: 15%; position: relative; float: left;">
    <table>
        {% for i in role_assignments %}
            {% if i.locked == True %}
                <tr style="border-bottom: 2px solid black">
                    <td style="padding: 20px;">{{ i.player.name }}</td>
                    <td>
                        <div class="popup" onclick="myFunction('{{ i.role.title }}')">{{ i.role.title }}
                            <span class="popuptext" id="{{ i.role.title }}">{{ i.role.description }}</span>
                        </div>
                    </td>
                    <td>
                        {% if i.role.alignment == "Evil" %}
                            <img src="https://ucarecdn.com/027f7b3a-0220-4d7f-9f9a-46d3d4b59a82/Untitleddesign.png" style="height:35px;"/>
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'wolfrollapp:updateLock' i.id %}">
                            {% csrf_token %}
                            <button type="submit" style="background-color: darkred">
                                <img src="https://ucarecdn.com/f60b8c03-44c8-44c0-8f34-e52d82bc59e5/Locked.png" style="height: 55px;" />
                            </button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        {% for i in role_assignments %}
            {% if i.locked == False %}
                <tr style="border-bottom: 2px solid black">
                    <td style="padding: 20px;">{{ i.player.name }}</td>
                    <td>
                        <div class="popup" onclick="myFunction('{{ i.role.title }}')">{{ i.role.title }}
                            <span class="popuptext" id="{{ i.role.title }}">{{ i.role.description }}</span>
                        </div>
                    </td>
                    <td>
                        {% if i.role.alignment == "Evil" %}
                            <img src="https://ucarecdn.com/027f7b3a-0220-4d7f-9f9a-46d3d4b59a82/Untitleddesign.png" style="height:35px;"/>
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'wolfrollapp:updateLock' i.id %}">
                            {% csrf_token %}
                            <button type="submit" style="background-color: cadetblue">
                                <img src="https://ucarecdn.com/94a19923-ffde-4ef3-a3eb-d2f34fd5e390/Unlocked.png" style="height: 55px;" />
                            </button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}


    </table>
<h2>Game Score: {{ game_score }}</h2>
</div>

<div style="width: 200px; top: 1.5%; position: relative; float: left;">
    <h1>Players</h1>
    <form action="{% url 'wolfrollapp:createPlayer' %}" method="POST" name="createPlayer" autofocus>
        {% csrf_token %}
        {% for field in player_form %}
            {{ field }}
        {% endfor %}
        <button style="vertical-align: center; padding: 8px 20px; background: darkseagreen; border-radius: 2px; float: left; margin-left: auto; margin-right: auto" type="submit">Add Player</button>
    </form>

    <table>
        <tr>
            <th></th>
        </tr>

        {% for player in player_list %}
        <tr>
            <td style="padding-right:30px;">{{ player }}</td>
            <td><form action="{% url 'wolfrollapp:deletePlayer' player.id %}" method="POST" name="player_delete">
                {% csrf_token %}
                <button style="vertical-align: center; padding: 8px; background: darkred; border-radius: 40px;font-size: 15px;  float: right" type="submit">X</button>
            </form>
            </td>
        </tr>

        {% endfor %}

    </table>
</div>



<script>
// When the user clicks on div, open the popup
function myFunction(pk) {
  var popup = document.getElementById(pk);
  popup.classList.toggle("show");
}
</script>
{% endblock %}