{% extends 'wolfrollapp/main.html' %}
{% block content %}
<div style="padding: 25px; align-content: center">
    <table border=1 frame=void rules=rows>
        <tr>
            <td> </td>
            <td><h2>Role Title</h2></td>
            <td style="width: 100px"><h2>Game Score</h2></td>
            <td style="width: 400px"><h2>Description</h2></td>
            <td><h2>Alignment</h2></td>
            <td><h2>Type</h2></td>
        </tr>
        {% for role in roles_list %}
            <tr class="role_row" style="padding-bottom: 15px">
                <td> </td>
                <td>{{ role.title }}</td>
                <td style="text-align: center">{{  role.score }}</td>
                <td style="width:200px; padding-bottom: 10px">{{ role.description }}</td>
                <td>{{ role.alignment }}</td>
                <td>{{ role.type }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
