{% extends 'wolfrollapp/main.html' %}
{% block content %}
<div style="padding: 25px; align-content: center">
    <table border=1 frame=void rules=rows>
        <tr>
            <td> </td>
            <td><h2>Role Title</h2></td>
            <td><h2>Game Score</h2></td>
            <td style="width: 400px"><h2>Description</h2></td>
            <td><h2>Alignment</h2></td>
            <td><h2>Type</h2></td>
        </tr>
        {% for role in roles_list %}
            <tr style="padding-bottom: 15px">
                <td>
                    <form action="{% url 'wolfrollapp:deleteRole' role.title %}" method="POST" name="deleteRole">
                        {% csrf_token %}
                        <button style="vertical-align: center; padding: 8px 12px; background: darkred; border-radius: 40px; float: left; color: blanchedalmond" type="submit">Delete Role</button>
                    </form>
                </td>
                <td>{{ role.title }}</td>
                <td style="text-align: center">{{  role.score }}</td>
                <td style="width:200px; padding-bottom: 10px">{{ role.description }}</td>
                <tdstyle="text-align: center">{{ role.alignment }}</td>
                <td>{{ role.type }}</td>
            </tr>
        {% endfor %}
        <form action="{% url 'wolfrollapp:createRole' %}" method="POST" name="createRole" >
            {% csrf_token %}
            <tr>
            <td></td>
                {% for field in form %}
                    <td>{{ field.label }}</td>
                {% endfor %}
            </tr>
            <tr>
            <td></td>
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
            <td><input type="submit" value="Create Role"/></td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}